@{
    ViewData["Title"] = "Home Page";
}

<div class="container align-items-center pt-5">
    <div class="row justify-content-center">
        <img src="img/mortgage-bg.jpg" alt="taco-icon" id="Logo" class="responsive" height="300px">
    </div>
    <hr>
    <div class="row text-center justify-content-center">
        <h6>This is a mortgage calculator.</h6>
        <p>
            Accepts the amount loaned, the interest rate, and the amount of time to pay back the loan. It then runs
            calculations and spits
            back the minimal amount that must be paid for each month to pay it off in time.
            The app also calculates the interest on each payment and the total interest that will be paid.
        </p>

        <a class="btn btn-primary justify-content-center" asp-area="" asp-controller="Home" asp-action="App">Check it Out</a>
    </div>

    <div class="row justify-content-center">
        <img src="/img/badges.png" alt="" width="400px">
    </div>

</div>
